<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
	<!-- Compiled and minified Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>The Cornerstone</title>
</head>

<body>
	<div class="coverDiv">
		<h1>The Cornerstone</h1>

		<body background="/assets/img/mirrorBurgerBackgrounsml.jpg"></body>




		<img src="/assets/img/tastyBurger.jpg" width="400px" id="tasty">

		{{{ body }}}


</body>

<footer class="burgerFooter">
	<div class="footer-copyright">
		<div class="container">
			<span class="grey-text text-lighten-4">©2018 Seatts</span>

		</div>
	</div>
</footer>
</div>

</html>